.main_container {
	padding-top: 90px;
	flex: 1;
}

.notificationBall {
	position: absolute;
	left: 30px;
	top: 1px;
}

.navi {
	padding-top: 1.2vh;
	padding-bottom: 1.2vh;
}

.notfound {
	text-align: center;
	margin-top: 25%;
	margin-bottom: 25%;
}
